  #Lektion 8

# if statements = En specifik kod kommer verkställs/"printas" ifall dens villkor stämmer.
# Alltså ifall ett speciellt svar på en fråga stämmer med ett visst "if statement" kommer detta "if statement" verkställ/"printa" en kod.
# Detta kan vara bra för att koden ska kunna skilja på olika svar på den fråga som ges.


#               Exempel 1

# I detta fall kommer tillståndet stämma beroende på åldern av en person.
ålder = int(input("Hur gammal är du?: "))

# Det första "if statement" kommer verkställas ifall på personen har är över 18 år.
# Ifall ett svar på frågan uppnår villkoren som detta "if statement" har kommer en del kod i detta fall "printas".
# Ifall åldern är över 18 år --> print(text).

if 94.1>= ålder >= 18:
    print()
    print("Du kan lagligt köpa cannabis i Nederländerna!")
    print()
    print("Du är myndig!")
    print()


#               Exempel 2

# "elif statements" kommer "printas" ifall villkoren hos alla ovanstående "if statement" inte uppnås.
# Genom att skriva "ålder == 100:" tas det som att "if statement" uppnås då åldern är lika med 100 år.
# Om man istället skrev "ålder = 100:" kommer koden tro att du vill sätta "ålder" lika med 100.
elif ålder == 100:
    print()
    print("du är hundra år gammal!")

elif 129.2 >= ålder >= 95:
    print()
    print("Du är äldre än Volvo!")

elif ålder >= 130:
     print()
     print("Du är en vampyr!")

elif ålder < 0:
    print()
    print("Försök igen!")
 

#               Exempel 3

# Genom att använda "else" kommer koden "printa" en text ifall villkoren hos alla ovanstående "if statements" och "elif statements" inte uppnås.
# Alltså kommer detta "else statement" aktiveras ifall "ålder" är mellan 0 och 17 år.
else:
    print()
    print("Du är ett barn!")
